<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Petshop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

<form action="/CadastroCliente" method="post">
    <button class="bttn" type="submit" > CADASTRAR CLIENTE</button>
</form>

<form action="/CadastroPet" method="post">
    <button class="bttn1" type="submit" > CADASTRAR PET</button>
</form>

<form action="/HomePage" method="post">
    <button class="bttn2" type="submit" > HOME PAGE</button>
</form>

<form action="/Cadastro Cliente" method="post">
        <button class="bttn3" type="submit" > CADASTRAR VETERINÁRIO</button>
</form>

</body>
</html>